ul li{
  list-style-type: decimal;
}

.app-wrapper {

  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas:
          "h h"
          "c n";

  grid-template-rows: 44px 1fr;
  grid-template-columns: 2fr 10fr;

}


